@{
	ViewData["Title"] = "Contact";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		@ViewData["Title"]
	</h2>
</section>

<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<h2>Enter introduction here</h2>
	</div>
</section>



	