@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset Email Sent";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="alert alert-info shadow-sm rounded-3 p-4 text-center">
                <h4 class="alert-heading">@ViewData["Title"]</h4>
                <p class="mb-0">Please check your email for a link to reset your password.</p>
            </div>
        </div>
    </div>
</div>
