<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="/images/icons/logo.JPG" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Fonts and icons -->
    <script src="/js/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] }, // Keep loading Public Sans
            custom: {
                // REMOVED: "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"
                families: [
                    "simple-line-icons" // Keep only if you still use this icon set
                ],
                // Keep this URL if fonts.min.css defines simple-line-icons
                urls: ["/assets/css/fonts.min.css"]
            },
            active: function () {
                // You can keep this callback if you use it elsewhere
                sessionStorage.fonts = true;
                console.log("WebFont Loader: Public Sans and Simple Line Icons active."); // Optional: Log confirmation
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plugins.min.css" />
    <link rel="stylesheet" href="/css/kaiadmin.css" />

    @* Optional: Placeholder for page-specific CSS *@
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <partial name="~/Views/Admin/Shared/_AdminSidebar.cshtml" />
        <!-- End Sidebar -->

        <div class="main-panel">
            <!-- Navbar Header -->
            <partial name="~/Views/Admin/Shared/_AdminNavbar.cshtml" /> 
            <!-- End Navbar -->

            <div class="container">
                @RenderBody() 
            </div>

        </div>
    </div>

    <!-- Core JS Files -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    @* <!-- jQuery Scrollbar --> *@
    <script src="/js/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    @* *@
    @* <!-- Chart JS --> *@
    @* <script src="~/assets/js/plugin/chart.js/chart.min.js"></script> *@
    @* *@
    @* <!-- jQuery Sparkline --> *@
    @* <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script> *@
    @* *@
    @* <!-- Chart Circle --> *@
    @* <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script> *@
    @* *@
    @* <!-- Datatables --> *@
    
    @* *@
    @* <!-- Bootstrap Notify --> *@
    @* <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> *@
    @* *@
    @* <!-- jQuery Vector Maps --> *@
    @* <script src="~/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script> *@
    @* <script src="~/assets/js/plugin/jsvectormap/world.js"></script> *@
    @* *@
    @* <!-- Sweet Alert --> *@
    @* <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script> *@

    <!-- Kaiadmin JS -->
    <script src="/js/kaiadmin.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>